html, body{
    margin:0;
    padding: 0;
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ffffff;
    overflow: hidden;
    z-index: -10;
}
.background-about{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(181, 181, 173);
}
.class-pic, .overlay-about{
    width:100%;
    height: 50vh;
    object-fit: cover;
}

.about-us-content-container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  justify-self: center;
  padding-top: 50px;
  width: 80%;
}

.about-us-content{
  display:grid;
  grid-template-rows: 1fr, 1fr;
  justify-self: center;
  width: 40vw;
  height: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  row-gap: 30px;
}
.abt1{
  font-size: 7vh;
  font-weight: bold;
}
.abt1, .abt2{
  font-family: Arial;
  color:#131313;
}

.abt2{
  text-indent: 30px;;
  font-size: 3vh;
  text-align: justify;
  line-height: 30px;
}

.video{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

.stats{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  width: 60vw;
}
.stat{
  text-align: center;
  line-height: 10px;
  width: 30vw;
  height: 25vh;
}
.counter {
  font-size: 50px;
  font-weight: bold;
}

h3{
  font-family: Arial;
  width: 30vw;
  color: rgb(0, 0, 0);
}

p{
  font-family: Arial;
  font-weight: bold;
  width: 30vw;
  color: rgb(108, 107, 107);
}

.witness-container{
  display: grid;
  grid-template-rows: 1fr 
  row-gap: 0px;
  justify-self: center;
  padding-top: 100px;
  padding-bottom: 50px;
  width: 80%;
}

.witness-content{
  font-family: Arial;
  font-size: 4vh;
  line-height: 50px;
}

.overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  overflow:hidden;
  background: rgba(163, 159, 159, 0.7); 
  z-index: -5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.overlay-about{
  position: absolute;
  width: 100%;
  height: 59.5vh;
  top:0;
  left:0;
  overflow:hidden;
  background: rgba(163, 159, 159, 0.7); 
  z-index: -1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}


.greeting-decription-container{
  display: flex;
  width: 100%;
  flex-direction: horizontal;
  justify-content: center;
  align-items: center;
}
.greeting{
  display: block;
  text-align: center;
  font-size: 10vw;
  font-family: Arial;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.greeting-about{
  display: block;
  text-align: center;
  font-size: 8vw;
  font-family: Arial;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

    span {
      display: inline-block;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 1s forwards;
    }

    @keyframes fadeUp {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dashboard{
    background-color:white;
    box-shadow: 0px 2px 6px rgb(0,0,0,0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60px;
    z-index: 999;
    position: sticky;
    position: -webkit-sticky;
    top:0;
}

.logo-container{
    align-content: center;
    padding-left: 20px;
}

.logo{
    width: 150px;
}

.menu{
    align-content: center;
    text-align:end;
    padding-right: 20px;
}

.home, .about-us, .shops, .contact-us{
    background-color: white;
    border: none;
    font-size: 15px;
}

/* From Uiverse.io by jerome_5148 */ 
.event-wrapper > .event-wrapper-inp {
  display: none;
}
.event-wrapper {
  font-weight: 500;
  color: white;
  background-color: rgb(255, 255, 255);
  padding: 3px 15px;
  border-radius: 10px;

  display: none;
  align-items: center;
  height: auto;
  width:auto;
  width: fit-content;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
}

.arrow {
  height: 34%;
  aspect-ratio: 1;
  margin-block: auto;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  background-color: white;
  height: 100%;
  width: 2.5px;
  border-radius: 500px;
  transform-origin: bottom;
}

.arrow::after {
  transform: rotate(35deg) translateX(-0.5px);
}
.arrow::before {
  transform: rotate(-35deg) translateX(0.5px);
}

.event-wrapper > .event-wrapper-inp:checked + .arrow {
  transform: rotateX(180deg);
}

.menu-container {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  position: absolute;
  width: 150px;
  left: -100px;
  top: 130%;
  overflow: hidden;
  clip-path: inset(0% 0% 0% 0% round 10px);
  transition: all 0.4s;
}

.menu-list {
  --delay: 0.4s;
  --trdelay: 0.15s;
  padding: 8px 10px;
  border-radius: inherit;
  transition: background-color 0.2s 0s;
  position: relative;
  transform: translateY(30px);
  opacity: 0;
  font-family: Arial;
}

.menu-list::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 95%;
}

.menu-list:hover {
  background-color: rgb(223, 223, 223);
}

.event-wrapper-inp:checked ~ .menu-container {
  clip-path: inset(10% 50% 90% 50% round 10px);
}

.event-wrapper-inp:not(:checked) ~ .menu-container .menu-list {
  transform: translateY(0);
  opacity: 1;
}

.event-wrapper-inp:not(:checked) ~ .menu-container .menu-list:nth-child(1) {
  transition:
    transform 0.4s var(--delay),
    opacity 0.4s var(--delay);
}

.event-wrapper-inp:not(:checked) ~ .menu-container .menu-list:nth-child(2) {
  transition:
    transform 0.4s calc(var(--delay) + (var(--trdelay) * 1)),
    opacity 0.4s calc(var(--delay) + (var(--trdelay) * 1));
}

.event-wrapper-inp:not(:checked) ~ .menu-container .menu-list:nth-child(3) {
  transition:
    transform 0.4s calc(var(--delay) + (var(--trdelay) * 2)),
    opacity 0.4s calc(var(--delay) + (var(--trdelay) * 2));
}

.event-wrapper-inp:not(:checked) ~ .menu-container .menu-list:nth-child(4) {
  transition:
    transform 0.4s calc(var(--delay) + (var(--trdelay) * 3)),
    opacity 0.4s calc(var(--delay) + (var(--trdelay) * 3));
}

.bar-event-wrapper-inp {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
  display: flex;
  height: 50%;
  width: 20px;
  flex-direction: column;
  gap: 3px;
}

.bar-list {
  --transform: -25%;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
  transition: all 0.4s;
  position: relative;
}

.event-wrapper-inp:not(:checked) ~ .bar > .top {
  transform-origin: top right;
  transform: translateY(var(--transform)) rotate(-45deg);
}

.event-wrapper-inp:not(:checked) ~ .bar > .middle {
  transform: translateX(-50%);
  opacity: 0;
}

.event-wrapper-inp:not(:checked) ~ .bar > .bottom {
  transform-origin: bottom right;
  transform: translateY(calc(var(--transform) * -1)) rotate(45deg);
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.footer, .footer-about{
  display:grid;
  grid-template-columns: 1fr;
  margin-top: 100vh;
  height: 40px;
  position: relative;
  z-index: 2;
}

.footer-about{
  margin-top: 0vh;
}

.footer-shops{
  display:grid;
  grid-template-columns: 1fr;
  margin-top: 10vh;
  height: 40px;
}

.socials{
  text-align: center;
  display: flex;
  flex-direction:column;
  justify-content: center;
  background-color: gray;
}

.shops-windows-container{
  display:grid;
  grid-template-rows: repeat(1, 1fr);
  width: 1fr;
  justify-self: center;
  padding-top: 8vh;
  row-gap: 30px;
}
.shop-windows{
  display: grid;
  grid-template-columns: 1fr 300px;
  height: 150px;
  width: 80vw;
  border:none;
  border-radius: 100px;
  box-shadow: 0px 0px 6px rgb(0,0,0,0.2);
}

.shop-description, .products-showcase{
  height: auto;
  border-radius: 100px;
}

.shop-description{
  display: grid;
  grid-template-columns: 180px 1fr;
}
.shop-logo{
  height: auto;
  border-radius: 100px;
}

.shop-logo{
  align-content: center;
}
.shop-logo-photo{
  height: 120px;
  width: 120px;
  border-radius: 100px;
}

.shop-names{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-top: 20px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px
}

.name{
  font-size: 25px;
  font-weight: bold;
  font-family: Arial;
  text-align: left;
}

.niche{
  font-size: 13px;
  background-color: orange;
  width: 120px;
  height: 18px;
  padding-top: 2px;
  align-self:top;
  border-radius: 100px;
}

.tagline{
  text-align: left;
  color: rgb(81, 80, 80);
  width: 200px;
}

.star{
  text-align: left;
}

.products-showcase{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.product-1,.product-2{
  height: 100px;
  width: 100px;
  object-fit: cover;
  align-self: center;
  border-radius: 20px;
}

.product-1{
  justify-self: right;
}

@media (max-width: 600px){

  .overlay-about{
    height: 44vh;
  }

  .menu{
    padding-right: 5px;
    padding-bottom: 10px;
  }
  .home, .about-us, .shops, .contact-us{
    display:none;
  }

  .event-wrapper{
    display: inline-block;
  }
  
  .greeting{
    font-size: 15vw;
  }

  .description{
    font-size: 2.5vw;
  }

  .class-pic{
    width: 100%;
    height: 34.5vh;
  }

  .about-us-content-container{
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 80px;
  justify-self: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
}

  .about-us-content{
    width: 80vw;
  }

  .abt1{
    font-size: 6vh;
    text-align: center;
  }

  .abt2{
    font-size: 2.5vh;
    text-align: justify;
    line-height: 30px;
  }

  .stats{
    width: 80vw;
    display: grid;
    padding-left: 30px;
    grid-template-columns: repeat(1, 1fr);
  }


  .stat{
    line-height: 20px;
    width: 40vw;
    height: 28vh;
    justify-self: center;
  }

.shop-description{
  display: grid;
  grid-template-columns: 125px 10px;
}
  .shops-logo{
  display: grid;
  width: 100vw;
  height: 85vh;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0px;
  column-gap:3px; 
  justify-items: center;
  align-items: center;
  padding-top:0;
  background-color: rgb(255, 255, 255);
  padding-left: 0px;
}

.shop-windows{
  height: 130px;
  grid-template-columns: auto;
}
.shop-logo{
  height: 130px;
  border-bottom-left-radius: 100px;;

}
.shop-logo-photo{
  height: 100px;
  width: 100px;
}

.name{
  font-size: 18px;
}

.niche{
  font-size: 10px;
  width: 100px;height: 16px;
}

.tagline{
  font-size: 10px;
  width: 160px;
}
.products-showcase{
  display: none;
}


}

@media(max-width 500px){
  .
  }
}

@media (max-width: 1200px){
  .overlay-about{
    height: 44.5vh;
  }

  .class-pic{
    width: 100%;
    height: 35vh;
  }

  .about-us-content-container{
    grid-template-columns: repeat(1, 1fr);
    padding-top: 0px;
    padding-bottom: 60px;
  }

  .about-us-content{
    width: 80vw;
    padding-top: 40px;
  }
}
@media (max-height: 500px){
  .stats{
    height: 50vh;
  }
}